<footer class="footer">
  <p>Copyright © <a href="https://opendevise.com">OpenDevise Inc.</a> and individual contributors to <a href="https://antora.org">Antora</a>.</p>
  <p>Except where otherwise noted, docs.antora.org, Antora, and the Antora UI, are licensed under the <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License Version 2.0</a> (MPL-2.0).</p>
  <p>AsciiDoc® 是 Eclipse 基金会的注册商标。</p>
</footer>
{{#if env.ALGOLIA_API_KEY}}
<script src="{{uiRootPath}}/js/vendor/docsearch.min.js"></script>
<!-- fetched from https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js -->
<script>
var search = docsearch({
  {{#with env.ALGOLIA_APP_ID}}
  appId: '{{this}}',
  {{/with}}
  apiKey: '{{env.ALGOLIA_API_KEY}}',
  indexName: '{{env.ALGOLIA_IDX_NAME}}',
  inputSelector: '#search-input',
  autocompleteOptions: { hint: false, keyboardShortcuts: ['s'] },
  algoliaOptions: { hitsPerPage: 10 }
}).autocomplete
search.on('autocomplete:closed', function () { search.autocomplete.setVal() })
</script>
{{#if page.home}}
<script>
window.addEventListener('load', function focusSearchInput () {
  window.removeEventListener('load', focusSearchInput)
  document.querySelector('#search-input').focus()
})
</script>
{{/if}}
{{/if}}
